html,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}
.hover_effect{
cursor: pointer;
  transition: all 2s ease;
min-width: 322px;
}
.hover_effect:hover{
  transform: translateY(-5px);

}
.card :hover{
background-color:#CAD5E2;
}
footer{
  position: relative;;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.withoutbgimage{
  position: absolute;
  /* right: 11px; */
  top: 20%;
}
.text-wrap{
  min-height: 62px;
}
.card{
  margin: 10px 0 10px 0;
}
.cart{
  min-width: 400px;
}

.advertising{
  margin: 10% 0;
}
.carousel-control-next, .carousel-control-prev {
  width: 40px !important;
  height: 40px;
  top: 30%;
}